.proj-info>*{
    color: black;
}

.section{
    margin:1% 5% 0 5%;
    background-color:#F9F7E9 ;
    border-radius: 10px;
    padding:5px 3px 0 3px;
}

.section>p{
    text-align: left;
    color:#3F170E;
}

h4{
    color:#3F170E;
    text-align: left;
}

span{
    margin:3px;
    font-weight:bold;
}

